In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import urllib.request
import urllib.parse
import pandas as pd
import time

In [2]:
def get_poster_img(movieNm):
    # get the image source
    img = driver.find_element_by_xpath('//*[@id="content"]/div[1]/div[2]/div[2]/a/img')
    src = img.get_attribute('src')

    # download the image
    urllib.request.urlretrieve(src, "poster/"+movieNm+".jpg")

In [3]:
movie_df = pd.read_csv('movie_data.csv')

In [4]:
movie_df.head()

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,searchdate
0,1,1,0,OLD,20201122,테넷,2020-08-26,405736600,73.3,-72593680,-15.2,6902129920,46440,-7567,-14.0,760852,2018,6303,20200901
1,2,2,0,OLD,20197922,다만 악에서 구하소서,2020-08-05,71605890,12.9,-14860840,-17.2,37840926140,8671,-1981,-18.6,4269455,656,1696,20200901
2,3,3,0,OLD,20199883,오케이 마담,2020-08-12,30534760,5.5,-7155690,-19.0,10820555960,3774,-874,-18.8,1208973,531,961,20200901
3,4,4,0,OLD,20202281,극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!,2020-08-20,14227100,2.6,-1411320,-9.0,797335940,1862,-133,-6.7,98099,323,424,20200901
4,5,5,6,OLD,20010238,메멘토,2001-08-24,4249000,0.8,1890500,80.2,334180800,420,125,42.4,45052,32,49,20200901

In [5]:
driver = webdriver.Chrome('./chromedriver')
basic_url = 'https://movie.naver.com/'
driver.get(basic_url)
time.sleep(2)

# alert 창의 '확인'을 클릭합니다.
alert = driver.switch_to.alert
alert.accept()
time.sleep(2)

data_list = []
for movieNm in movie_df['movieNm']:
    data_dict = {}
    data_dict['movieNm'] = [movieNm]
    
    try:
        url = 'https://movie.naver.com/movie/search/result.nhn?query='+urllib.parse.quote(movieNm)+'&section=all&ie=utf8'
        driver.get(url)
        time.sleep(2)
        driver.find_element_by_xpath('//*[@id="old_content"]/ul[2]/li/p/a/img').click()
        data_dict['movieUrl'] = [driver.current_url]
        time.sleep(2)
        get_poster_img(movieNm)
    except:
        data_dict['movieUrl'] = ["수작업 필요"]
        print('영화제목 : '+movieNm+' 은 저장하지못했습니다. 확인해주세요.')
        
    data_df = pd.DataFrame(data_dict)
    data_list.append(data_df)
driver.close()

영화제목 : 부산행:익스텐디드 은 저장하지못했습니다. 확인해주세요.
영화제목 : 인턴 은 저장하지못했습니다. 확인해주세요.
영화제목 : 인턴 은 저장하지못했습니다. 확인해주세요.
영화제목 : 쥬라기 월드 은 저장하지못했습니다. 확인해주세요.
영화제목 : 신세계 은 저장하지못했습니다. 확인해주세요.
영화제목 : 신세계 은 저장하지못했습니다. 확인해주세요.
영화제목 : 베를린 은 저장하지못했습니다. 확인해주세요.
영화제목 : 베를린 은 저장하지못했습니다. 확인해주세요.
영화제목 : 장화신은 고양이 은 저장하지못했습니다. 확인해주세요.
영화제목 : 50/50 은 저장하지못했습니다. 확인해주세요.
영화제목 : 리오 은 저장하지못했습니다. 확인해주세요.
영화제목 : 써니 은 저장하지못했습니다. 확인해주세요.
영화제목 : 써니 은 저장하지못했습니다. 확인해주세요.
영화제목 : 써니 은 저장하지못했습니다. 확인해주세요.
영화제목 : 모비딕 은 저장하지못했습니다. 확인해주세요.
영화제목 : 써니 은 저장하지못했습니다. 확인해주세요.
영화제목 : 초능력자 은 저장하지못했습니다. 확인해주세요.

In [26]:
all_df = pd.concat(data_list).reset_index(drop=True)
all_df.head()

,movieNm,movieUrl
0,테넷,https://movie.naver.com/movie/bi/mi/basic.nhn?...
1,다만 악에서 구하소서,https://movie.naver.com/movie/bi/mi/basic.nhn?...
2,오케이 마담,https://movie.naver.com/movie/bi/mi/basic.nhn?...
3,극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!,https://movie.naver.com/movie/bi/mi/basic.nhn?...
4,메멘토,https://movie.naver.com/movie/bi/mi/basic.nhn?...

In [27]:
all_df[all_df['movieUrl']== "수작업 필요"]

        movieNm movieUrl
27    부산행:익스텐디드   수작업 필요
583          인턴   수작업 필요
592          인턴   수작업 필요
622      쥬라기 월드   수작업 필요
893         신세계   수작업 필요
900         신세계   수작업 필요
903         베를린   수작업 필요
910         베를린   수작업 필요
1033   장화신은 고양이   수작업 필요
1058      50/50   수작업 필요
1094         리오   수작업 필요
1097         써니   수작업 필요
1101         써니   수작업 필요
1111         써니   수작업 필요
1117        모비딕   수작업 필요
1125         써니   수작업 필요
1175       초능력자   수작업 필요

In [28]:
all_df['movieUrl'][27] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=130966" #부산행

all_df['movieUrl'][583] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=118917" #인턴
all_df['movieUrl'][592] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=118917" #인턴

all_df['movieUrl'][622] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=67786" #쥬라기 월드

all_df['movieUrl'][893] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=91031" #신세계
all_df['movieUrl'][900] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=91031" #신세계

all_df['movieUrl'][903] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=89218" #베를린
all_df['movieUrl'][910] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=89218" #베를린

all_df['movieUrl'][1033] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=83546" #장화신은 고양이

all_df['movieUrl'][1058] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=78846" #50/50

all_df['movieUrl'][1094] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=76455" #리오

all_df['movieUrl'][1097] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=76016" #써니
all_df['movieUrl'][1101] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=76016" #써니
all_df['movieUrl'][1111] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=76016" #써니
all_df['movieUrl'][1125] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=76016" #써니

all_df['movieUrl'][1117] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=74528" #모비딕

all_df['movieUrl'][1175] = "https://movie.naver.com/movie/bi/mi/basic.nhn?code=73344" #초능력자

In [29]:
all_df[all_df['movieUrl']== "수작업 필요"]

Empty DataFrame
Columns: [movieNm, movieUrl]
Index: []

In [33]:
driver = webdriver.Chrome('./chromedriver')
basic_url = 'https://movie.naver.com/'
driver.get(basic_url)
time.sleep(2)

# alert 창의 '확인'을 클릭합니다.
alert = driver.switch_to.alert
alert.accept()
time.sleep(2)

for i in [27, 583, 622, 893, 903, 1033, 1058, 1094, 1097, 1117, 1175]:
    url = all_df['movieUrl'][i]
    movieNm = all_df['movieNm'][i]
    
    driver.get(url)
    time.sleep(2)
    if movieNm == '50/50':
        movieNm = '50대50'
    get_poster_img(movieNm)
    print(movieNm+' 포스터 사진을 저장완료했습니다.')
    
driver.close()

부산행:익스텐디드 포스터 사진을 저장완료했습니다.
인턴 포스터 사진을 저장완료했습니다.
쥬라기 월드 포스터 사진을 저장완료했습니다.
신세계 포스터 사진을 저장완료했습니다.
베를린 포스터 사진을 저장완료했습니다.
장화신은 고양이 포스터 사진을 저장완료했습니다.
50대50 포스터 사진을 저장완료했습니다.
리오 포스터 사진을 저장완료했습니다.
써니 포스터 사진을 저장완료했습니다.
모비딕 포스터 사진을 저장완료했습니다.
초능력자 포스터 사진을 저장완료했습니다.

In [35]:
all_df.to_csv('movie_url_data.csv', index=False)