In [6]:
from selenium import webdriver
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [15]:
movie_df = pd.read_csv('movie_data.csv')

In [16]:
movie_df.head(2)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,searchdate
0,1,1,0,OLD,20201122,테넷,2020-08-26,405736600,73.3,-72593680,-15.2,6902129920,46440,-7567,-14.0,760852,2018,6303,20200901
1,2,2,0,OLD,20197922,다만 악에서 구하소서,2020-08-05,71605890,12.9,-14860840,-17.2,37840926140,8671,-1981,-18.6,4269455,656,1696,20200901