In [1]:
import pandas as pd

In [2]:
movie_df = pd.read_csv('movie_data.csv')
info_df = pd.read_csv('movie_info_data.csv')

In [3]:
preprocessing_movie_df = movie_df[['searchdate','rank','movieCd','movieNm','openDt','salesAcc','audiAcc']]
preprocessing_info_df = info_df.rename(columns={'movieCd':'code'})
print(preprocessing_movie_df.shape)
print(preprocessing_info_df.shape)

(1200, 7)
(1200, 9)

In [4]:
result = pd.concat([preprocessing_movie_df, preprocessing_info_df], axis=1)
result[result['movieCd'] == result['code']].shape

(1200, 16)

In [5]:
del result['code']

In [6]:
result.shape

(1200, 15)

In [7]:
result.head(3)

,searchdate,rank,movieCd,movieNm,openDt,salesAcc,audiAcc,movieNmEn,showTm,typeNm,nationNm,genreNm,directors,actors,watchGradeNm
0,20200901,1,20201122,테넷,2020-08-26,6902129920,760852,Tenet,149.0,장편,미국,"액션,SF",크리스토퍼 놀란,"존 데이비드 워싱턴,로버트 패틴슨,엘리자베스 데비키,애런 존슨,마이클 케인,케네스 ...",12세이상관람가
1,20200901,2,20197922,다만 악에서 구하소서,2020-08-05,37840926140,4269455,DELIVER US FROM EVIL,107.0,장편,한국,"범죄,액션",홍원찬,"황정민,이정재,박정민",15세이상관람가
2,20200901,3,20199883,오케이 마담,2020-08-12,10820555960,1208973,OK! MADAM,100.0,장편,한국,"코미디,액션",이철하,"엄정화,박성웅,이상윤,배정남,이선빈,조성희,최진호,유수정",15세이상관람가

In [8]:
result.to_csv('result.csv', index=False)