In [1]:
import pandas as pd
from datetime import datetime

In [2]:
movie_df = pd.read_csv('movie_data.csv')
info_df = pd.read_csv('movie_info_data.csv')
url_df = pd.read_csv('movie_url_data.csv')

In [3]:
preprocessing_movie_df = movie_df[['searchdate','rank','movieCd','movieNm','openDt','salesAcc','audiAcc']]
preprocessing_info_df = info_df.rename(columns={'movieCd':'code'})
preprocessing_url_df = url_df.rename(columns={'movieNm':'moviename'})
print(preprocessing_movie_df.shape)
print(preprocessing_info_df.shape)
print(preprocessing_url_df.shape)

(1200, 7)
(1200, 9)
(1200, 2)

In [4]:
result = pd.concat([preprocessing_movie_df, preprocessing_info_df], axis=1)
result[result['movieCd'] == result['code']].shape

(1200, 16)

In [5]:
del result['code']

In [6]:
result.shape

(1200, 15)

In [7]:
result = pd.concat([result, preprocessing_url_df], axis=1)
result[result['movieNm'] == preprocessing_url_df['moviename']].shape

(1200, 17)

In [8]:
del result['moviename']

In [9]:
result.shape

(1200, 16)

In [10]:
result.head(3)

,searchdate,rank,movieCd,movieNm,openDt,salesAcc,audiAcc,movieNmEn,showTm,typeNm,nationNm,genreNm,directors,actors,watchGradeNm,movieUrl
0,20200901,1,20201122,테넷,2020-08-26,6902129920,760852,Tenet,149.0,장편,미국,"액션,SF",크리스토퍼 놀란,"존 데이비드 워싱턴,로버트 패틴슨,엘리자베스 데비키,애런 존슨,마이클 케인,케네스 ...",12세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
1,20200901,2,20197922,다만 악에서 구하소서,2020-08-05,37840926140,4269455,DELIVER US FROM EVIL,107.0,장편,한국,"범죄,액션",홍원찬,"황정민,이정재,박정민",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
2,20200901,3,20199883,오케이 마담,2020-08-12,10820555960,1208973,OK! MADAM,100.0,장편,한국,"코미디,액션",이철하,"엄정화,박성웅,이상윤,배정남,이선빈,조성희,최진호,유수정",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...

In [11]:
result['movieNm'][1058] = '50대50'

<ipython-input-11-62781294865f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['movieNm'][1058] = '50대50'

In [12]:
result[result['movieNm'] == '50대50']

,searchdate,rank,movieCd,movieNm,openDt,salesAcc,audiAcc,movieNmEn,showTm,typeNm,nationNm,genreNm,directors,actors,watchGradeNm,movieUrl
1058,20111201,9,20113306,50대50,2011-11-24,625897500,84795,NaN,100.0,장편,미국,"코미디,드라마",조나단 레빈,"조셉 고든 레빗,세스 로건",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...

In [13]:
result = result[(result['rank'] == 1) | (result['rank'] == 2) | (result['rank'] == 3)]

result['searchdate'] = result['searchdate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

result = result[result['searchdate'] > datetime(2019, 9, 30)].reset_index(drop=True)

In [14]:
result.shape

(36, 16)

In [15]:
result.head()

,searchdate,rank,movieCd,movieNm,openDt,salesAcc,audiAcc,movieNmEn,showTm,typeNm,nationNm,genreNm,directors,actors,watchGradeNm,movieUrl
0,2020-09-01,1,20201122,테넷,2020-08-26,6902129920,760852,Tenet,149.0,장편,미국,"액션,SF",크리스토퍼 놀란,"존 데이비드 워싱턴,로버트 패틴슨,엘리자베스 데비키,애런 존슨,마이클 케인,케네스 ...",12세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
1,2020-09-01,2,20197922,다만 악에서 구하소서,2020-08-05,37840926140,4269455,DELIVER US FROM EVIL,107.0,장편,한국,"범죄,액션",홍원찬,"황정민,이정재,박정민",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
2,2020-09-01,3,20199883,오케이 마담,2020-08-12,10820555960,1208973,OK! MADAM,100.0,장편,한국,"코미디,액션",이철하,"엄정화,박성웅,이상윤,배정남,이선빈,조성희,최진호,유수정",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
3,2020-08-01,1,20196271,강철비2: 정상회담,2020-07-29,6333379000,788516,Steel Rain2: Summit,131.0,장편,한국,"드라마,액션",양우석,"정우성,유연석,곽도원,앵거스 맥페이든,신정근,류수영,염정아,김용림,김명곤,장광,이재...",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...
4,2020-08-01,2,20193450,반도,2020-07-15,29037551980,3339218,Peninsula,115.0,장편,한국,"액션,드라마",연상호,"강동원,이정현,권해효,김민재,구교환,김도윤,이레,이예원,김규백,황영희,장소연,문우진...",15세이상관람가,https://movie.naver.com/movie/bi/mi/basic.nhn?...

In [16]:
result.to_csv('result.csv', index=False)