In [5]:
import os
import pandas as pd

In [6]:
df = pd.read_excel('서울시_분류별_관광명소_현황(한국어).xls')

In [7]:
select_df = df[['고유번호','신주소']]
select_df.head()

   고유번호                                 신주소
0   281            03036 서울 종로구 자하문로15길 18
1   345      04350 서울 용산구 이태원로23길 4 (이태원동)
2   383    06120 서울 강남구 강남대로118길 12 (부경빌딩)
3   413  03149 서울 종로구 인사동5길 20 (관훈동, 오원빌딩)
4   420           04348 서울 용산구 이태원로55가길 35

In [8]:
select_df.to_csv('서울시_관광명소_gps.csv', index=False)